.pageContainer{

    .inner{
        display: grid;
        grid-template-columns: auto 2fr;
        justify-items: center;
        gap: 50px;

        .innerText{
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }

        .wrapper{

            img{
                border-radius: 5px;
                filter: grayscale(1);

                &:hover{
                    filter: none;
                }
            }
        }
    }
}


.slideDelay1{
    animation: slide 500ms ease;
}

.slideDelay2{
    animation: slide 1500ms ease;
}

.slideDelay3{
    animation: slide 2000ms ease;
}

@keyframes slide {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 800px) {

    .inner{
        grid-template-columns: auto !important;
        grid-auto-flow: row dense
    }
}