#code{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: monospace;
    font-size: 1.2rem;
    counter-reset: line;
    
    .className {
        color: var(--accent-color);
    }
    
    .line::before {
        content: counter(line);
        counter-increment: line;
        margin-right: 1rem;
        color: grey;
    }
    
    a {
        color: var(--accent-color);
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}
