#explorerbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 48px;
    background-color: --sidebar-bg;
    border-right: 1px solid var(--border);

    div:nth-child(1){
        .iconContainer:nth-child(1){
            svg{
                fill: #fff;
            }

            &::before{
                content: '';
                position: absolute;
                left: 0;
                height: 100%;
                width: 2.5px;
                background-color: var(--accent-color);
            }
        }
    }
}

.iconContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    cursor: pointer;
    
    &:hover svg{
        fill: #fff;
    }

    svg{
        fill: var(--sidebar-icon-color);
    }
    
    a{
        padding: 12px;
    }

}
.icon{
    display: block;
    height: 24px;
    width: 24px;
}