#container {
    height: calc(100vh - 30px - 22.5px);
    display: grid; 
    grid-template-columns: auto auto 1fr ; 
    grid-template-rows: auto;
    gap: 0px 0px;

    >div:last-child{
        overflow: hidden;
    }
}

.content{
    position: relative;
    height: calc(100% - 35px);
    padding: 2rem;
    overflow: hidden;
    background-color: var(--main-bg);
    z-index: 1;
    font-family: monospace; // Change to variable !!
    white-space: nowrap;
    
    &::after{
        content: '';
        position: absolute;
        bottom: -20%;
        right: 0;
        width: 50%;
        height: 100%;
        background-image: url('/blackmage.svg');
        background-size: cover;
        background-position: top;
        opacity: 0.1;
        z-index: -1;
    }
}