@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: var(--text-color);
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
}

// --------------------NODE MODULES-------------------- //

// Cursor color
.Typist .Cursor {
    color: var(--accent-color) !important;
    font-weight: bold;
}

// Resizable 
.Resizable-module_handle__1mp2v{

    &:hover{
        background-color: #005cc5;
    }
    &:active{
        background-color: #005cc5;
    }
}