@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
@import "Package.module";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: var(--text-color);
    font-family: Source Sans Pro, sans-serif;
    font-size: 16px;
}

html,body, #__next {
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 800px) {

    *{
        cursor: default;
    }
}