// --------------------NODE MODULES-------------------- //

// TYPIST
.Typist .Cursor {
    color: var(--accent-color) !important;
    font-weight: bold;
}

.pageTypist{
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    .Typist{
        font-size: 1.1rem;
    }
}

// RESIZABLE
.Resizable-module_handle__1mp2v[data-direction="right"]{
    width: 8px !important;

    &:hover{
        background-color: #005cc5;
    }
    &:active{
        background-color: #005cc5;
    }
}

.Resizable-module_handle__1mp2v[data-direction="top"]{
    height: 4px !important;
    top: -2px !important;

    &:hover{
        background-color: #005cc5;
    }
    &:active{
        background-color: #005cc5;
    }
}

@media screen and (max-width: 700px) {

    .Resizable-module_handle__1mp2v{
        display: none;
    }
}

// TERMINAL
.index_editor__2tqRz{
    height: 100% !important;
    overflow-y: auto !important;
    font-size: 0.9rem !important;
    border-top: 1px solid var(--border);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: var(--main-bg);
        border-left: 1px solid var(--border);
    }

    &::-webkit-scrollbar-thumb {
        background: #6a737d33;
        border-left: 1px solid var(--border);
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #6a737d88;
    }

    .index_caretAfter__2B8sk{
        height: 18px !important;
        background: #76b4f9 !important;
    }
    // disable mobile text input
    .index_lineText__2Poex{
        input{
            display: none
        }
    }
}