.handle{
    width: 100%;
    height: 4px;
    position: absolute;
    cursor: n-resize;

    &:hover{
        background-color: #005cc5;
    }
    &:active{
        background-color: #005cc5;
    }
}