.resizer{
    width: 100%;
    position: relative;

    .handle{
        width: 100%;
        position: absolute;
        height: 4px;
        top: -2px;
        z-index: 2;
        cursor: n-resize;

        &:hover{
            background-color: #005cc5;
        }
        &:active{
            background-color: #005cc5;
        }
    }
}