.handle{
    width: 100%;
    position: absolute;
    height: 4px;
    top: -4px;
    cursor: n-resize;
    z-index: 2;

    &:hover{
        background-color: #005cc5;
    }
    &:active{
        background-color: #005cc5;
    }
}