.tagnamecolor{
    color: #569CD6;
    font-family: monospace;
}

.tagcolor{
    color: #6d6d6d;
    font-family: monospace;
}

.attributecolor{
    color: red;
    font-family: monospace;
}

.attributevaluecolor{
    color: mediumblue;
    font-family: monospace;
}


.tagcolor_jQuery{
    color: #efd81e;
    font-family: monospace;
}