.terminalResizable{
    position: absolute !important;
    width: 100%;
    bottom: 0;
<<<<<<< HEAD
    z-index: 2;
=======
>>>>>>> Final
    cursor: text;
    
    .variable{
        color: var(--variable-color);
        font-weight: bold;
    }
}