#titlebar {
    display: flex;
    align-items: center;
    justify-content : center;
    height: 30px;
    padding: 0 0.5rem; 
    background-color: var(--titlebar-bg);
    color: #fff;
    border-bottom: 1px solid var(--border);
    font-size: 0.85rem;
}

#menu {
    display: flex;
    gap: 10px;
    flex: 1 1;
}

#title {
    flex: 1 1;
    text-align: center;
}

#buttons {
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.icon{
    display: block;
    fill: #fff;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    #menu {
        gap: 5px;
    }
    #title {
      flex: 5;
    }
}

@media screen and (max-width: 650px) {
    #title {
        display: none;
    }
}